div{
    width: 400px;
    height:200px;
    text-align: center;
    background-color: #7aa874;
    margin:10px auto;
    box-shadow:2px 2px  8px yellow;
    
}
/*background image*/
#box{   
    width: 400px;
    height:200px;
    text-align: center;
    background-color: #7aa874;
    margin:10px auto;
    background-image:url("unsplash.jpg");
    background-size:cover;
    color:white;

}
